{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
<h1>Login</h1>
<p>Utilitzar formulari per iniciar:</p>
<form method="post">
{{ form.as_p }}
{% csrf_token %}
<p><input type="submit" value="Inicia"></p>
</form>

<div class="social">
    <ul>
      <li class="google">
        <a href="{% url "social:begin" "google-oauth2" %}">Login with Google</a>
      </li>
    </ul>
  </div>

{% endblock %}
